/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
}

/* Estilos para a tela de login */
.login-container {
    text-align: center;
    padding: 20px;
}

.login-container label,
.login-container input,
.login-container button {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
}

.login-container button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #2980b9;
}

/* Estilos para o quiz */
.quiz-container {
    display: none;
    text-align: center;
    padding: 20px;
}

.quiz-container button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-container button:hover {
    background-color: #2980b9;
}

/* Estilos para o ranking */
#ranking-container {
    text-align: center;
    padding: 20px;
}

#ranking-list {
    list-style: none;
    padding: 0;
}

#ranking-list li {
    margin: 5px;
}

/* Estilos para as questões */
.question {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left; /* Alinha o texto das questões à esquerda */
}

.question p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px; /* Espaçamento inferior entre a pergunta e as alternativas */
}

.question label {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left; /* Alinha o texto das alternativas à esquerda */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Espaçamento inferior entre as alternativas */
    position: relative; /* Adiciona uma posição relativa para sobrepor o estilo personalizado */
    display: block; /* Altera o comportamento padrão para ocupar toda a largura */
   /* Adiciona espaço à esquerda das alternativas */
    padding-right: 1px;
}

/* Estilos para as alternativas selecionadas */
.question input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.question input[type="radio"] + label {
    background-color: #fff;
    color: #333;
}

.question input[type="radio"]:checked + label {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
}

#submit-button {
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: none; /* Inicialmente oculto */
}

#submit-button:hover {
    background-color: #2980b9;
}
